div.MyTaskRootDiv {

  .function-service-div-border {
    border: none;
  }

  .function-service-div-inline{
    display: inline;
  }

  .div-Fetch{
    display: none;;
  }

  .function-service-div-float {
    float:left;
    width: 8%;
    height: 500px;
    margin-right: 2%;
  }

  .function-service-div-top{
    border: 1px solid #D4D4D4;
    height: 300px;
    position: relative;
    width: 90%;
    padding: 3px;
    float: right;
  }

  .function-service-div-bottom{
    height: 300px;
    position: relative;
    width: 90%;
    padding: 3px;
    float: right;
  }

  .function-service-div-bottom-component{
    margin-top: 10px;
  }

  .function-service-div-bottom-component-left{
    height: 40px;
    position: relative;
    width: 40%;
    float: left;
    margin-left: 20px
  }

  .function-service-div-bottom-component-right{
    height: 40px;
    position: relative;
    width: 50%;
    float: right;
  }

  .function-service-div-bottom-left{
    border: 1px solid #D4D4D4;
    height: 200px;
    position: relative;
    width: 48%;
    float: left;
    margin-right:2%;
  }

  .function-service-div-bottom-right{
    border: 1px solid #D4D4D4;
    height: 200px;
    position: relative;
    width: 50%;
    float: right;
  }

  .function-service-div-bottom-title{
    border-bottom: 1px solid #D4D4D4;
    padding: 10px;
  }

  .function-service-div-top-container{
    height: 30px;
    width: 80px;
    position: relative;
    border: 1px solid #D4D4D4;
    margin-top: 3px;
    margin-right: 3px;
    border-radius:6px;
    float: left
  }


  .function-service-div1{
    border-radius: 4px;
    border: 1px solid #D4D4D4;
    margin-top:15px;
    width: 50px;
    height: 30px;
    margin-right: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .fucntion-service-healthy{
    background: rgb(255,255,0)

  }
  .fucntion-service-except{
    background: rgb(255,0,0);
  }
  .fucntion-service-select{
    background: blue
  }
  .fucntion-service-all{
    background: rgb(100,100,100);
  }

  .cTabs{
    .bfd-tabs__list {
      margin-top:-30px;
      float: right;
      border-bottom:0px
    }
    .bfd-tabs__list li a{
      background-color: #FFFFFF;
      margin-right: 20px;
    }
    .bfd-tabs__list li a:hover , .nav.nav-tabs li a:focus{
      background-color: #FFFFFF;
      border-bottom: 1.5px solid #00BFFF;
    }
  }
}

