div.LiebiaoRootDiv > div.DataTableDiv {
  margin-top:20px;
  padding-top:13px;   // DataTable的表头文本距离上边框为17px
  padding-left:20px;
  padding-right:8px;
  padding-bottom: 10px;
  border: 1px solid #ECECEC;
}

div.LiebiaoRootDiv > div.DataTableDiv table {
  .width_0 {
    width: 10%;
  }
  .width_1 {
    width: 30%;
  }
  .width_2 , .width_3 , .width_4 , .width_5 , .width_6 , .width_7  {
    width: 10%;
  }

}

div.LiebiaoRootDiv .LoadNewRecordsButton{
  border: 0px;
  background-color: transparent;
  color:green;
}
div.LiebiaoRootDiv .LoadNewRecordsButton.Hide{
  display: none;
}
div.LiebiaoRootDiv .LoadNewRecordsButton.Show{
  display: block;
}

.highlightLine {
  background-color: #DEF6E8 !important;
  border-bottom: 1px solid #A4E7C1 !important;
}

div.LiebiaoRootDiv > div.DataTableDiv table {
  th,td{
    font-family: '微软雅黑';
    font-size: 12px;
    color:#333333;
  }


  thead{
	  tr{
      display: block;
      width: 100%;

      th{
        display: inline-block;
        border-bottom: 3px solid #DDEEFD;
      }
    }
  }

  tbody {
    display: block;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    height:240px;
    max-height:240px;
    min-height:240px;

    tr{
      display: block;
      width: 100%;

      height: 40px;
      border-bottom: 1px solid #EFF3F8;

      td{
        display: inline-block;
        height: 40px;
        border-top: 0px;
      }
    }

  }
}


// 以下代码是测试代码
div.LiebiaoRootDiv{
  margin-top: 15px;
}

.SearchButton {
  float: right;
}

table.SearchConditionTable > tbody > tr {
  > td:nth-child(odd){ 
    padding-left: 5px;  
  }
  > td:nth-child(even){ 
    padding-right: 25px;
  }
}

.SearchItemControl {
  width: 200px;
}
