djangorestframework==3.3.2
django-admin-bootstrapped==2.1.0
django-auth-ldap==1.2.1
django-bootstrap-tags==1.2.0
Django==1.8.6
djangorestframework-jsonp==1.0.2
requests==2.10.0
uWSGI==0.8
redis==2.10.3
paramiko==1.7.7.1
pycrypto==2.6
kazoo==2.2.1
supervisor==3.2.0