
div.ResourceUsageRootDiv{
  table.TooltipTable td.SpaceTdDistraction {
    width: 10px;
  }

  div.FixedTableFatherDiv {
    padding-top:13px;   // DataTable的表头文本距离上边框为17px
    padding-left:20px;
    padding-right:8px;
  }

  div.cTabs{
    .bfd-tabs__list {
      margin-top:-30px;
      float: right;
      border-bottom:0px
    }
    .bfd-tabs__list li a{
      background-color: #FFFFFF;
      margin-right: 20px;
    }
    .bfd-tabs__list li a:hover , .nav.nav-tabs li a:focus{
      background-color: #FFFFFF;
      border-bottom: 1.5px solid #00BFFF;
    }
  }

}


