

table.TooltipTable td.SpaceTdDistraction {
  width: 10px;
}

div.MyCalcManagerOverviewChildRootDiv > table.EchartFatherDiv{
  width: 100%;
  > tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    > tr{
      width: 100%;
      display: block;

      > td{
        width: 100%;
        display: inline-block;
      }
    }

    > tr:nth-child(odd) > td > *{
      text-align: right;
      padding-right: 100px;
    }
    > tr:nth-child(even) > td > *{
      height: 400px;    
    }

  }
}



/*
div.MyCalcManagerOverviewChildRootDiv > div.PercentageFatherDiv{
  border: 1px solid #ECECEC;
}


div.MyCalcManagerOverviewChildRootDiv > table.PercentageFatherDiv {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ECECEC;
  tr td{
    width: 33.33%;
    text-align: center;           // 保证文本居中
    * {
      display: inline-block;      // 保证内部的div居中
    }    
  }

  tr.PercentPic td{
    padding-top: 36px;
  }
  tr.PercentText td{
    padding-top: 18px;
  }
  tr.PercentDetail td{
    padding-top: 6px;
    padding-bottom: 36px;
  }
}*/





