


div.NavigationInPageRootDiv{
  color:#666666;
  font-family: '微软雅黑';
  font-size: 18px;
}

div.NavigationInPageRootDiv > div.NaviTextDiv{
  display: inline-block;
}

div.NavigationInPageRootDiv > div.NaviTextDiv > * {
  color:#999999;
  font-family: '微软雅黑';
  font-size: 12px;  
}

