<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>ARIES</title>
</head>
<body>
  <script>
   {% autoescape off %}
    window.user = {{user}};
    //console.log({{request.user}})
  {% endautoescape %}
  </script>
  <div id="app"></div>
  <script src="{% static 'aries/app.0fbd592611bd9a4aa9bb.js' %}" > </script>
</body>
</html>
