

table.ResourceMonitorEchart {
  width: 100%;
  > tbody {
    width: 100%;

    // 使得按钮靠右显示
    > tr:nth-child(1) > td{
      text-align: right;
      padding-right: 100px;
      padding-top: 40px;
      padding-bottom: 10px;
    }
    > tr:nth-child(2) > td > *{
      height: 300px;
    }

  }
  




}


