div.mdRootDiv > .mdChildDiv {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
    }

} 

div.mdRootDiv > div.Big {
    overflow-x: hidden;
    overflow-y: scroll;

}
